@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        /* max-width: 408px; */
        width: 100%;
    }
    

}
@media screen and  (min-width: 768px) {
    .menu-container {
        display: none;
    }
    
}



@media screen and (max-width: 767px) {
    .team>.container {
            max-width: 264px;
        } 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
    .site-adress {
        display: block;
        padding-bottom: 12px;
        padding-top: 24px;
        margin-right: auto;
        
        
    }
    .menu-btn {
        display: none;
    }
    .adress-link {
        padding: 0;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    .email {
        margin-bottom: 6px;
        
    }
    .menu-btn {
        display: none;
    }
    .hero-title {
        margin-bottom: 40px;
        width: 496px;
    }
    .hero-btn {
        margin-bottom: 108px;
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .overlay {
                background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url('../images/office-tab-@2x.jpg');
            }
        }
    .our-advantages {
        display: flex;
        flex-wrap: wrap;

    }
    .point-text {
        width: calc((100% - 24px) / 2);
        margin-bottom: 72px;
    }
    .advantages-title {
        text-align: start;
    }
    .advantages-text {
        text-align: start;
        font-weight: 500;
    }
    .team {
        padding-bottom: 104px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: -64px;
    }
    .team-card {
        width: calc((100% - 24px) / 2);
        margin-bottom: 64px;
    }
    
    .card-description {
        padding-left: 16px;
        padding-right: 16px;
    }
    .customers-list {
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }
    .logo-text-container {
        width: calc((100% - 24px) / 2);
    }
    .footer-logo {
        text-align: start;
        margin-left: auto;
        display: flex;
    }
    .footer-text {
        width: 264px;
        text-align: start;
        margin: 0;
    }
    .social-media-footer-container {
        text-align: center;
        align-items: flex-start;
    }
    .social-media-footer {
        margin-bottom: 104px;
    }
    .social-media-footer-container {
        margin: 0;
    }
    .social-media-footer-text {
        padding-top: 0;
        display: flex;
        justify-content: flex-start;
    }
    .footer-text-form {
        display: flex;
        justify-content: flex-start;
        text-align: start;
    }
    .footer-form-main-container {
        text-align: center;
        align-items: flex-start;
    }

    .footer-form {
        display: flex;
        text-align: start;
        
    }
    .form-input {
        margin-right: 24px;
        margin-bottom: 0;
        width: 264px;
    }
    .footer-form-main-container {
        text-align: start;
        justify-content: flex-start;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .our-advantages {
        gap: 24px;
    }
    
    .team>.container {
    max-width: 552px;
    }
    .container-footer {
        gap: 24px;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .site-nav {
        display: none;
    }
    .adress {
        display: none;
    }

}



@media screen and (max-width: 1199px) {
    .thumb {
        display: none;
    }
    .examples {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    .site-adress {
        display: flex;
        padding-top: 24px;
    }
    .adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .nav-link {
        padding-top: 24px;
        padding-bottom: 24px;
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .overlay {
                background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url('../images/office-desk-@2x.jpg');
            }
        }
    .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    }
    .hero-title {
    margin-bottom: 48px;
    }
    .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .our-advantages {
        flex-wrap: nowrap;
    }
    .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    }
    .advantages-text {
    width: 264px;
    font-weight: 400;
    }
    .point-text:not(:last-child) {
    margin-right: 24px;
    }
    .point-text {
    width: calc((100% - 72px) / 4);
    }
    .team {
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .cards {
        flex-wrap: nowrap;
    }
    .team-card {
    width: calc((100% - 72px) / 4);
    }
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-list {
        display: flex;
        gap: 24px;
    }
    .customers-item {
        width: calc((100% - 135px) / 6);
    }
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container-footer {
        flex-wrap: nowrap;
        width: 1158px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .logo-text-container {
        margin-bottom: 100px;
    }
    .social-media-footer-container {
        margin-right: 80px;
    }
    .social-media-footer {
        margin-bottom: 132px;
    }
    .footer-form-main-container {
        text-align: start;
        margin-bottom: 132px;
    }
}
