
/* Portfolio */


:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color:#434455;
    --active-color: #404BBF; 
    --bg-btn-color: #4D5AE5;
    --bg-pages-color: #FFFFFF;
    --section-color: #2E2F42;
    --secondary-section-color: #F4F4FD;
    --footer-text-color:#E7E9FC;
    --btn-text-color:#FFFFFF;
    --hero-text-color: #FFFFFF;
    --btns-bg-color: #F4F4FD;
}

body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Site nav */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-nav-adress {
    display: flex;
}

.container-main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    position: relative;
    display: flex;
}

.site-nav .point:not(:last-child) {
    margin-right: 40px;
}

.nav-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;

    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif, cursive;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-logo span {
    color: var(--bg-btn-color);
}

.nav-link {
    position: relative;

    display: block; 
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: var(--active-color);
    
}

.nav-link::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    opacity: 0;
    transform: scaleX(0);
    transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover::after {
    opacity: 1;
    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transform: scaleX(1);
}

.nav-link.current::after {
    opacity: 1;
    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transform: scaleX(1);

}

.adress {
    margin-left: auto;

    font-style: normal;
}

.site-adress {
    display: flex;
}

.site-adress .point:not(:last-child) {
    margin-right: 40px;
}


.adress-link {
    display: block; 
    padding-top: 24px;
    padding-bottom: 24px;


    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
    color: var(--active-color);
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.container-portfolio {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.one-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* Buttons */

.main-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.btns:not(:last-child) {
   margin-right: 24px; 
}

.filter-btn {
    background: var(--btns-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    vertical-align: middle;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-section .filter-btn {
    color: var(--bg-btn-color);
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--bg-pages-color);
    background-color: var(--active-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

/* Examples */

.all-works {
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    
    width: calc((100% - 48px) /3);
    margin-right: 24px;
    margin-bottom: 48px;

    

}

.work-item-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), translate 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.work-item-link:hover,
.work-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.work-item:nth-child(3n+3) {
    margin-right: 0px;
}

.work-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.work-thumb {
    position: relative;
    overflow: hidden;
}


.work-overlay {
    position: absolute;
    padding: 64px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    opacity: 0;


    top: 0;
    left: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.work-item-link:hover, .work-item-link:focus .work-overlay {
    opacity: 1;
    transform: translateY(0);
   
}

.work-item-link:hover .work-text-overlay {
    opacity: 1;
}

.work-text-for-overlay {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
    padding: 0;
    margin: 0;
}


.work-item-link:hover .work-overlay {
    transform: translateY(0);
    opacity: 1;
}

.card-bottom {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}



.text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.one-section .title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Footer */
.footer {

    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--primary-text-color);
}

.container-footer {
    display: flex;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 264px;

    color: var(--footer-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

    color: var(--footer-text-color);
    font-family: 'Raleway', sans-serif, cursive;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo span {
    color: var(--bg-btn-color);
}

.social-media-footer-container {

    margin-left: 120px;
}

.social-media-footer-text {
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}

.social-media-footer {
    display: flex;
    gap: 16px;
}

.social-items-footer {
    width: 40px;
    height: 40px;

}

.link-footer:hover,
.link-footer:focus {
    background-color: #31D0AA;
    border-radius: 50%;
    
}

.link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.footer-form-main-container {
    margin-left: auto;
}

.footer-form {
    display: flex;
    /* width: 264px; */
}



.form-input {
    width: 264px;
    height: 40px;


    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);

    background: #2E2F42;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    outline: none;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.form-input:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: #4D5AE5;
    border: 2px solid rgba(255, 255, 255, 0.3);

}

.footer-text-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    

}



.footer-text-form input {
    display: flexbox;
    /* width: 100%; */
    
}

.footer-form-button {
    background: #4D5AE5;
    border-radius: 4px;
    border: none;

    

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: 24px;
    padding: 8px 24px;

    width: 165px;
    height: 40px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background: #404BBF;
    cursor: pointer;
   
}

.footer-form-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

/* Studio Page */

.header {
    border-bottom: 1px solid #E7E9FC;
}  

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    max-width: 1158px;
}

.overlay {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--primary-text-color);


}

.hero {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    
    /* background: var(--primary-text-color); */
}



.hero-title {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 48px;

    color: var(--hero-text-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.hero-btn {
    cursor: pointer;
    color: var(--btn-text-color);
    background: var(--bg-btn-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background: var(--active-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 72px 24px 24px;


   
    width: 408px;

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);

}


.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 0;

    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


.btn-close:hover,
.btn-close:focus {
    background: #404BBF;
    fill: #FFFFFF;
    
}



.close-icon {
    fill: #000000;
    
}

.btn-close:is(:hover, :focus) .close-icon {
    
    fill: #FFFFFF;
}


.form {
    width: 360px;

}

.form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    margin: 0;
    margin-bottom: 16px;
}

.form-field {
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 8px;
}


.form-field label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #8E8F99;

    margin-bottom: 4px;
    padding: 0;
}


.form-modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* font: inherit; */
    height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 36px;
    outline: none;
    /* margin-bottom: 8px; */
    width: 100%;
   

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper {
    position: relative;

}


.form-icon-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    left: 16px;
    fill: #2E2F42;
    transition: transform 250ms linear, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.form-modal-input:focus {
    border: 1px solid #4D5AE5;
}

.form-modal-input:focus + .form-icon {
    fill: #4D5AE5;
    
    
}

.form-modal-input:focus+.form-icon-name {
    fill: #4D5AE5;

}


.comment {
    margin-bottom: 16px;

}

.comment-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    height: 120px;

    padding-left: 16px;
    padding-top: 8px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.comment-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.comment-input:focus {
    border: 1px solid #4D5AE5;
}



.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.place-for-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}


.checkbox:checked + .place-for-icon {
    background-color: #404BBF;
    border: none;
}

.checkbox-icon {
  
}

.policy {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 24px;
}

.policy-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #757575;
    
}

.privacy {
    color: #4D5AE5;
}

.form-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;


    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-right: 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    background: #4D5AE5;
    color: #FFFFFF;
    border: none;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-button:hover,
.form-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;

}


.advantages {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}


.our-advantages {
    display: flex;
}


.point-text:not(:last-child) {
    margin-right: 24px;
}

.point-text {
    width: calc((100% - 72px) / 4);
}

.thumb {
    display: flex;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;

}


.advantages-title {

    margin-top: 0;
    margin-bottom: 8px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
}
.advantages-text {

    margin-top: 0;
    margin-bottom: 0;
    width: 264px;


    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.examples {
padding-bottom: 120px;
}

.examples-title {

    margin-top: 0;
    margin-bottom: 72px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.example-images {
    display: flex;
}

.technology {
    width: calc((100% - 48px) / 3);
}

.technology:not(:last-child) {
    margin-right: 24px;
}

.team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;

    color: var(--primary-text-color);
    background: var(--secondary-section-color);
}

.team-card {
    width: calc((100% - 72px) / 4);

    background-color: var(--bg-pages-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
    margin-right: 24px;
}
.team-title {

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 72px;

    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;

}

.cards {
    display: flex;
}

.card-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.team-member {

    margin-top: 0;
    margin-bottom: 8px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-job {

    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 8px;
    justify-content: center; 
    gap: 24px;
}

 

.social-items {
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}


.social-link {
    display: flex;
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    justify-content: center; 
    align-items: center;
    


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-container {
    margin-left: auto;
    margin-right: auto;
}

.customers-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 72px;
    
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.customers-list {
    display: flex;
    margin: 0;
    gap: 24px;

}

.customers-item { 
    width: 168px;
    height: 88px;
}


.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
    width: 100%;
    height: 100%;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-icon {
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
    fill: #404BBF;
 
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    
}


.customers-link:is(:hover, :focus) .customers-icon {
    fill: #404BBF;
   
}


